# This workflow runs the integration tests in this project against the emulator.
name: Integration Tests on Emulator

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      emulator:
        image: gcr.io/cloud-spanner-emulator/emulator:latest
        ports:
          - 9010:9010
          - 9020:9020

    steps:
      - uses: actions/checkout@v4

      - name: Cache local Maven repository
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin

      - name: Install dependencies
        run: mvn install -DskipTests
      - name: Install Spanner Hibernate tools
        working-directory: google-cloud-spanner-hibernate-tools
        run: mvn install -DskipTests

      - name: Run Integration Tests on Emulator
        working-directory: google-cloud-spanner-hibernate-dialect
        run: mvn -B verify
        env:
          SPANNER_EMULATOR_HOST: localhost:9010
