# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    # Start the Spanner Emulator in a separate service
    services:
      emulator:
        image: gcr.io/cloud-spanner-emulator/emulator:latest
        ports:
          - 9010:9010
          - 9020:9020

    steps:
      - uses: actions/checkout@v2

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      # Create an instance and database in the Spanner emulator
      - name: Initialize Emulator
        run: ./.github/emulator-init.sh

      - name: Build with Maven
        run: mvn install -B -V -DskipTests

      - name: Run Tests
        env:
          JDBC_URL: jdbc:cloudspanner://localhost:9010/projects/cloud-spanner-hibernate-ci/instances/test-instance/databases/hibernate-sample-db?usePlainText=true
        run:
          mvn verify -f google-cloud-spanner-hibernate-samples/basic-hibernate-sample/pom.xml -Dhibernate.connection.url=$JDBC_URL
